In [1]:
import pandas as pd
import numpy as np

In [2]:
# Pandas Project

# 1. Using Real Estate Dataset, remove redundant Data
# 2. Find the total sales by residential type
# 3. Generate a new table that sort your data using column Sale Ratio from the highest to the minimum
# 4. Find the first 10 sales with the highest amount in a DataFrame
# 5. Return the min, max and the total sales of Estate
# 6. Congratulations on your new job as a data analyst in a Real Estate company, we realise that as years go by
# we are beginning to experience changes in our sales, can you draw a conclusion for your new employer,
# the effect of time on the company sales?

# 7. Kindly advise the company which town should they stop selling Estate
# 8. Base on your findings, advise the company which town should we continue selling our Real Estate
# 9. We have different properties in our company, which property will you advise us to stop selling
# and which will you advise us to sell more of it

# 10. SAVE YOUR ANALYSIS WITH YOUR NAME AND YOUR STUDENT ID.

<h1>READING THE FILE</h1>

In [3]:
df = pd.read_csv("Real_Estate_Sales.csv")  
df

C:\Users\timia\AppData\Local\Temp\ipykernel_19008\2745147701.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Real_Estate_Sales.csv")

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14 - Foreclosure,NaN,NaN,NaN
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25 - Other,PRIVATE SALE,NaN,NaN
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family,NaN,NaN,NaN,NaN
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family,NaN,NaN,NaN,NaN
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997213 entries, 0 to 997212
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     997213 non-null  int64
 1   List Year         997213 non-null  int64
 2   Date Recorded     997211 non-null  object
 3   Town              997213 non-null  object
 4   Address           997162 non-null  object
 5   Assessed Value    997213 non-null  float64
 6   Sale Amount       997213 non-null  float64
 7   Sales Ratio       997213 non-null  float64
 8   Property Type     614767 non-null  object
 9   Residential Type  608904 non-null  object
 10  Non Use Code      289681 non-null  object
 11  Assessor Remarks  149864 non-null  object
 12  OPM remarks       9934 non-null    object
 13  Location          197697 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 106.5+ MB

In [5]:
df.describe()

,Serial Number,List Year,Assessed Value,Sale Amount,Sales Ratio
count,9.972130e+05,997213.000000,9.972130e+05,9.972130e+05,9.972130e+05
mean,4.311864e+05,2010.189829,2.791437e+05,3.911512e+05,1.044637e+01
std,6.549219e+06,6.237877,1.670610e+06,5.347270e+06,1.890192e+03
min,0.000000e+00,2001.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.044400e+04,2004.000000,8.760000e+04,1.400000e+05,4.867000e-01
50%,7.030300e+04,2010.000000,1.383900e+05,2.250000e+05,6.246000e-01
75%,1.518780e+05,2016.000000,2.255600e+05,3.650000e+05,7.852761e-01
max,2.000500e+09,2020.000000,8.815100e+08,5.000000e+09,1.226420e+06

<h1> CLEANING THE DATA BY DROPPING REDUNDANT ROWS AND COLUMNS</h1>

In [6]:
# In the  columns , we can see that there are two tables in the columns that are redundant
# so we have to drop them totally because they have no value

df.drop(columns ='OPM remarks', axis = 1, inplace=True)

In [7]:
df.drop(columns = 'Location', axis=1, inplace = True)

In [8]:
df.drop(columns = 'Non Use Code', axis=1, inplace = True)

In [9]:
df.drop(columns = 'Assessor Remarks', axis=1, inplace = True)

In [10]:
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,NaN

<h1>CHECKING FOR NULL VALUES</h1>

In [11]:
df.isnull()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
997208,False,False,False,False,False,False,False,False,False,False
997209,False,False,False,False,False,False,False,False,False,False
997210,False,False,False,False,False,False,False,False,False,False
997211,False,False,False,False,False,False,False,False,False,False
997212,False,False,False,False,False,False,False,False,True,True

In [12]:
df.head(50)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
5,200109,2020,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.0,1250000.0,0.678000,Residential,Single Family
6,2020180,2020,03/01/2021,Berlin,1539 FARMINGTON AVE,234200.0,130000.0,1.801500,Residential,Two Family
7,2020313,2020,07/01/2021,Berlin,216 WATCH HILL RD,412000.0,677500.0,0.608100,Residential,Single Family
8,200097,2020,06/04/2021,Bethany,23 AMITY RD,511000.0,795000.0,0.642700,Commercial,NaN
9,20139,2020,12/16/2020,Bethel,16 DEEPWOOD DRIVE,171360.0,335000.0,0.511500,Residential,Single Family
10,200086,2020,08/10/2021,Bethlehem,39 WOODLAND RD,168900.0,352000.0,0.479800,Residential,Single Family
11,2000381,2020,09/13/2021,Bloomfield,9 SADDLE RIDGE,163730.0,250000.0,0.654900,Residential,Condo
12,200258,2020,01/22/2021,Branford,34 SUNRISE COVE CAMP,530500.0,700000.0,0.757800,Residential,Single Family
13,200804,2020,09/28/2021,Branford,119 MONTOWESE ST,455100.0,650000.0,0.700100,Commercial,NaN
14,201295,2020,09/09/2021,Bristol,609 CAMP ST,144340.0,249900.0,0.577500,Residential,Single Family
15,200032,2020,10/08/2020,Bristol,9 LESLIE COURT,94920.0,155000.0,0.612300,Residential,Single Family
16,200354,2020,12/29/2020,Bristol,391 TIFFANY LA,173740.0,299000.0,0.581000,Residential,Single Family
17,200527,2020,03/01/2021,Bristol,25 WARD ST,85680.0,183000.0,0.468100,Residential,Two Family
18,201212,2020,08/23/2021,Bristol,8 JENNINGS TERR,88060.0,91000.0,0.967600,Residential,Single Family
19,20000050,2020,11/05/2020,Brookfield,4 CHELSEA CT,105110.0,160000.0,0.656937,Residential,Condo
20,20000179,2020,02/22/2021,Brookfield,72 HOMESTEAD LN,94770.0,170000.0,0.557400,Residential,Condo
21,200042,2020,05/19/2021,Canaan,93 MAIN ST,355800.0,599000.0,0.593900,Residential,Two Family
22,200117,2020,04/12/2021,Canton,52 COUNTRY LANE,160850.0,280000.0,0.574400,Residential,Single Family
23,2000230,2020,03/16/2021,Cheshire,50 ABBEY CT,210940.0,365000.0,0.577900,Residential,Single Family
24,2000330,2020,05/20/2021,Cheshire,844 HIGHLAND AVE,144220.0,204000.0,0.706900,Residential,Single Family
25,200078,2020,09/20/2021,Chester,6 SUNSET AVE,250100.0,418800.0,0.597100,Residential,Single Family
26,200268,2020,07/09/2021,Colchester,347 CABIN RD,104000.0,350000.0,0.297100,Vacant Land,NaN
27,200035,2020,10/29/2020,Colchester,160 SHADBUSH DR,223900.0,392000.0,0.571100,Residential,Single Family
28,200024,2020,11/09/2020,Columbia,WEBSTER LANE,60300.0,75000.0,0.804000,Vacant Land,NaN
29,200074,2020,09/01/2021,Cornwall,131 KENT RD,246100.0,385000.0,0.639200,Commercial,NaN
30,200101,2020,01/07/2021,Coventry,74 LAKEVIEW DR,142800.0,245000.0,0.582800,Residential,Single Family
31,200282,2020,07/15/2021,Coventry,1467 SOUTH ST,359800.0,480000.0,0.749500,Commercial,NaN
32,200039,2020,11/06/2020,Coventry,2075 MAIN ST,43700.0,25000.0,1.748000,Vacant Land,NaN
33,201328,2020,08/06/2021,Cromwell,6 BELHAVEN,410670.0,740000.0,0.554900,Residential,Condo
34,200077,2020,12/08/2020,Cromwell,60 NORTH RD,174650.0,259000.0,0.674300,Vacant Land,NaN
35,200195,2020,04/26/2021,Cromwell,34 SHUNPIKE ROAD,3360000.0,5214750.0,0.644300,Commercial,NaN
36,200742,2020,03/29/2021,Danbury,17 OHEHYAHTAH PL,339100.0,550000.0,0.616500,Residential,Single Family
37,200886,2020,05/03/2021,Danbury,86 MERRIMAC ST B,189800.0,240000.0,0.790800,Residential,Condo
38,200938,2020,05/13/2021,Danbury,15-17 BOUGHTON ST #1-5,118900.0,230000.0,0.516900,Residential,Condo
39,201018,2020,06/03/2021,Danbury,55 FOREST AV,136900.0,150000.0,0.912600,Residential,Single Family
40,201186,2020,07/12/2021,Danbury,28 MAIN ST,695500.0,3200000.0,0.217344,Commercial,NaN
41,201443,2020,09/01/2021,Danbury,4 COOPER RD,158700.0,325000.0,0.488300,Residential,Single Family
42,201580,2020,09/27/2021,Danbury,25 CROWN ST,192300.0,525000.0,0.366286,Residential,Two Family
43,200408,2020,12/24/2020,Danbury,15 SCUPPO RD 1503,130800.0,260000.0,0.503000,Residential,Condo
44,20129,2020,03/30/2021,Derby,196 ELIZABETH ST,351260.0,873000.0,0.402300,Commercial,NaN
45,20013,2020,12/16/2020,Eastford,GENERAL LYON RD,2200.0,20000.0,0.110000,Vacant Land,NaN
46,200215,2020,06/04/2021,East Haddam,SHANAGHAN RD,51690.0,65000.0,0.795200,Vacant Land,NaN
47,200242,2020,01/27/2021,East Haven,130 COE AVE #51,28240.0,73000.0,0.386849,Residential,Condo
48,10095,2001,11/16/2001,Farmington,5 SPARROW LN,67670.0,302866.0,0.223432,NaN,NaN
49,200375,2020,04/06/2021,East Haven,55 THOMPSON ST #5A,76960.0,140000.0,0.549700,Residential,Condo

In [13]:
df.drop(index = 0, axis = 0, inplace=True)

In [14]:
df.drop(index = 997212, axis = 0, inplace = True)

In [15]:
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
5,200109,2020,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.0,1250000.0,0.678000,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
997207,190272,2019,08/03/2020,Wilton,145 WHIPSTICK RD,681870.0,1134708.0,0.600900,Single Family,Single Family
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family

In [16]:
df.head(50)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
5,200109,2020,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.0,1250000.0,0.678000,Residential,Single Family
6,2020180,2020,03/01/2021,Berlin,1539 FARMINGTON AVE,234200.0,130000.0,1.801500,Residential,Two Family
7,2020313,2020,07/01/2021,Berlin,216 WATCH HILL RD,412000.0,677500.0,0.608100,Residential,Single Family
8,200097,2020,06/04/2021,Bethany,23 AMITY RD,511000.0,795000.0,0.642700,Commercial,NaN
9,20139,2020,12/16/2020,Bethel,16 DEEPWOOD DRIVE,171360.0,335000.0,0.511500,Residential,Single Family
10,200086,2020,08/10/2021,Bethlehem,39 WOODLAND RD,168900.0,352000.0,0.479800,Residential,Single Family
11,2000381,2020,09/13/2021,Bloomfield,9 SADDLE RIDGE,163730.0,250000.0,0.654900,Residential,Condo
12,200258,2020,01/22/2021,Branford,34 SUNRISE COVE CAMP,530500.0,700000.0,0.757800,Residential,Single Family
13,200804,2020,09/28/2021,Branford,119 MONTOWESE ST,455100.0,650000.0,0.700100,Commercial,NaN
14,201295,2020,09/09/2021,Bristol,609 CAMP ST,144340.0,249900.0,0.577500,Residential,Single Family
15,200032,2020,10/08/2020,Bristol,9 LESLIE COURT,94920.0,155000.0,0.612300,Residential,Single Family
16,200354,2020,12/29/2020,Bristol,391 TIFFANY LA,173740.0,299000.0,0.581000,Residential,Single Family
17,200527,2020,03/01/2021,Bristol,25 WARD ST,85680.0,183000.0,0.468100,Residential,Two Family
18,201212,2020,08/23/2021,Bristol,8 JENNINGS TERR,88060.0,91000.0,0.967600,Residential,Single Family
19,20000050,2020,11/05/2020,Brookfield,4 CHELSEA CT,105110.0,160000.0,0.656937,Residential,Condo
20,20000179,2020,02/22/2021,Brookfield,72 HOMESTEAD LN,94770.0,170000.0,0.557400,Residential,Condo
21,200042,2020,05/19/2021,Canaan,93 MAIN ST,355800.0,599000.0,0.593900,Residential,Two Family
22,200117,2020,04/12/2021,Canton,52 COUNTRY LANE,160850.0,280000.0,0.574400,Residential,Single Family
23,2000230,2020,03/16/2021,Cheshire,50 ABBEY CT,210940.0,365000.0,0.577900,Residential,Single Family
24,2000330,2020,05/20/2021,Cheshire,844 HIGHLAND AVE,144220.0,204000.0,0.706900,Residential,Single Family
25,200078,2020,09/20/2021,Chester,6 SUNSET AVE,250100.0,418800.0,0.597100,Residential,Single Family
26,200268,2020,07/09/2021,Colchester,347 CABIN RD,104000.0,350000.0,0.297100,Vacant Land,NaN
27,200035,2020,10/29/2020,Colchester,160 SHADBUSH DR,223900.0,392000.0,0.571100,Residential,Single Family
28,200024,2020,11/09/2020,Columbia,WEBSTER LANE,60300.0,75000.0,0.804000,Vacant Land,NaN
29,200074,2020,09/01/2021,Cornwall,131 KENT RD,246100.0,385000.0,0.639200,Commercial,NaN
30,200101,2020,01/07/2021,Coventry,74 LAKEVIEW DR,142800.0,245000.0,0.582800,Residential,Single Family
31,200282,2020,07/15/2021,Coventry,1467 SOUTH ST,359800.0,480000.0,0.749500,Commercial,NaN
32,200039,2020,11/06/2020,Coventry,2075 MAIN ST,43700.0,25000.0,1.748000,Vacant Land,NaN
33,201328,2020,08/06/2021,Cromwell,6 BELHAVEN,410670.0,740000.0,0.554900,Residential,Condo
34,200077,2020,12/08/2020,Cromwell,60 NORTH RD,174650.0,259000.0,0.674300,Vacant Land,NaN
35,200195,2020,04/26/2021,Cromwell,34 SHUNPIKE ROAD,3360000.0,5214750.0,0.644300,Commercial,NaN
36,200742,2020,03/29/2021,Danbury,17 OHEHYAHTAH PL,339100.0,550000.0,0.616500,Residential,Single Family
37,200886,2020,05/03/2021,Danbury,86 MERRIMAC ST B,189800.0,240000.0,0.790800,Residential,Condo
38,200938,2020,05/13/2021,Danbury,15-17 BOUGHTON ST #1-5,118900.0,230000.0,0.516900,Residential,Condo
39,201018,2020,06/03/2021,Danbury,55 FOREST AV,136900.0,150000.0,0.912600,Residential,Single Family
40,201186,2020,07/12/2021,Danbury,28 MAIN ST,695500.0,3200000.0,0.217344,Commercial,NaN
41,201443,2020,09/01/2021,Danbury,4 COOPER RD,158700.0,325000.0,0.488300,Residential,Single Family
42,201580,2020,09/27/2021,Danbury,25 CROWN ST,192300.0,525000.0,0.366286,Residential,Two Family
43,200408,2020,12/24/2020,Danbury,15 SCUPPO RD 1503,130800.0,260000.0,0.503000,Residential,Condo
44,20129,2020,03/30/2021,Derby,196 ELIZABETH ST,351260.0,873000.0,0.402300,Commercial,NaN
45,20013,2020,12/16/2020,Eastford,GENERAL LYON RD,2200.0,20000.0,0.110000,Vacant Land,NaN
46,200215,2020,06/04/2021,East Haddam,SHANAGHAN RD,51690.0,65000.0,0.795200,Vacant Land,NaN
47,200242,2020,01/27/2021,East Haven,130 COE AVE #51,28240.0,73000.0,0.386849,Residential,Condo
48,10095,2001,11/16/2001,Farmington,5 SPARROW LN,67670.0,302866.0,0.223432,NaN,NaN
49,200375,2020,04/06/2021,East Haven,55 THOMPSON ST #5A,76960.0,140000.0,0.549700,Residential,Condo
50,11238,2001,08/30/2002,Bethel,50 FOURTH ST,76450.0,50000.0,1.529000,NaN,NaN

### CHECKING FOR DUPLICATED

In [17]:
df.duplicated()

1         False
2         False
3         False
4         False
5         False
          ...
997207    False
997208    False
997209    False
997210    False
997211    False
Length: 997211, dtype: bool

<h1>DROPPING DUPLCATES</h1>

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
5,200109,2020,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.0,1250000.0,0.678000,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
997207,190272,2019,08/03/2020,Wilton,145 WHIPSTICK RD,681870.0,1134708.0,0.600900,Single Family,Single Family
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family

In [20]:
df.head(50)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
5,200109,2020,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.0,1250000.0,0.678000,Residential,Single Family
6,2020180,2020,03/01/2021,Berlin,1539 FARMINGTON AVE,234200.0,130000.0,1.801500,Residential,Two Family
7,2020313,2020,07/01/2021,Berlin,216 WATCH HILL RD,412000.0,677500.0,0.608100,Residential,Single Family
8,200097,2020,06/04/2021,Bethany,23 AMITY RD,511000.0,795000.0,0.642700,Commercial,NaN
9,20139,2020,12/16/2020,Bethel,16 DEEPWOOD DRIVE,171360.0,335000.0,0.511500,Residential,Single Family
10,200086,2020,08/10/2021,Bethlehem,39 WOODLAND RD,168900.0,352000.0,0.479800,Residential,Single Family
11,2000381,2020,09/13/2021,Bloomfield,9 SADDLE RIDGE,163730.0,250000.0,0.654900,Residential,Condo
12,200258,2020,01/22/2021,Branford,34 SUNRISE COVE CAMP,530500.0,700000.0,0.757800,Residential,Single Family
13,200804,2020,09/28/2021,Branford,119 MONTOWESE ST,455100.0,650000.0,0.700100,Commercial,NaN
14,201295,2020,09/09/2021,Bristol,609 CAMP ST,144340.0,249900.0,0.577500,Residential,Single Family
15,200032,2020,10/08/2020,Bristol,9 LESLIE COURT,94920.0,155000.0,0.612300,Residential,Single Family
16,200354,2020,12/29/2020,Bristol,391 TIFFANY LA,173740.0,299000.0,0.581000,Residential,Single Family
17,200527,2020,03/01/2021,Bristol,25 WARD ST,85680.0,183000.0,0.468100,Residential,Two Family
18,201212,2020,08/23/2021,Bristol,8 JENNINGS TERR,88060.0,91000.0,0.967600,Residential,Single Family
19,20000050,2020,11/05/2020,Brookfield,4 CHELSEA CT,105110.0,160000.0,0.656937,Residential,Condo
20,20000179,2020,02/22/2021,Brookfield,72 HOMESTEAD LN,94770.0,170000.0,0.557400,Residential,Condo
21,200042,2020,05/19/2021,Canaan,93 MAIN ST,355800.0,599000.0,0.593900,Residential,Two Family
22,200117,2020,04/12/2021,Canton,52 COUNTRY LANE,160850.0,280000.0,0.574400,Residential,Single Family
23,2000230,2020,03/16/2021,Cheshire,50 ABBEY CT,210940.0,365000.0,0.577900,Residential,Single Family
24,2000330,2020,05/20/2021,Cheshire,844 HIGHLAND AVE,144220.0,204000.0,0.706900,Residential,Single Family
25,200078,2020,09/20/2021,Chester,6 SUNSET AVE,250100.0,418800.0,0.597100,Residential,Single Family
26,200268,2020,07/09/2021,Colchester,347 CABIN RD,104000.0,350000.0,0.297100,Vacant Land,NaN
27,200035,2020,10/29/2020,Colchester,160 SHADBUSH DR,223900.0,392000.0,0.571100,Residential,Single Family
28,200024,2020,11/09/2020,Columbia,WEBSTER LANE,60300.0,75000.0,0.804000,Vacant Land,NaN
29,200074,2020,09/01/2021,Cornwall,131 KENT RD,246100.0,385000.0,0.639200,Commercial,NaN
30,200101,2020,01/07/2021,Coventry,74 LAKEVIEW DR,142800.0,245000.0,0.582800,Residential,Single Family
31,200282,2020,07/15/2021,Coventry,1467 SOUTH ST,359800.0,480000.0,0.749500,Commercial,NaN
32,200039,2020,11/06/2020,Coventry,2075 MAIN ST,43700.0,25000.0,1.748000,Vacant Land,NaN
33,201328,2020,08/06/2021,Cromwell,6 BELHAVEN,410670.0,740000.0,0.554900,Residential,Condo
34,200077,2020,12/08/2020,Cromwell,60 NORTH RD,174650.0,259000.0,0.674300,Vacant Land,NaN
35,200195,2020,04/26/2021,Cromwell,34 SHUNPIKE ROAD,3360000.0,5214750.0,0.644300,Commercial,NaN
36,200742,2020,03/29/2021,Danbury,17 OHEHYAHTAH PL,339100.0,550000.0,0.616500,Residential,Single Family
37,200886,2020,05/03/2021,Danbury,86 MERRIMAC ST B,189800.0,240000.0,0.790800,Residential,Condo
38,200938,2020,05/13/2021,Danbury,15-17 BOUGHTON ST #1-5,118900.0,230000.0,0.516900,Residential,Condo
39,201018,2020,06/03/2021,Danbury,55 FOREST AV,136900.0,150000.0,0.912600,Residential,Single Family
40,201186,2020,07/12/2021,Danbury,28 MAIN ST,695500.0,3200000.0,0.217344,Commercial,NaN
41,201443,2020,09/01/2021,Danbury,4 COOPER RD,158700.0,325000.0,0.488300,Residential,Single Family
42,201580,2020,09/27/2021,Danbury,25 CROWN ST,192300.0,525000.0,0.366286,Residential,Two Family
43,200408,2020,12/24/2020,Danbury,15 SCUPPO RD 1503,130800.0,260000.0,0.503000,Residential,Condo
44,20129,2020,03/30/2021,Derby,196 ELIZABETH ST,351260.0,873000.0,0.402300,Commercial,NaN
45,20013,2020,12/16/2020,Eastford,GENERAL LYON RD,2200.0,20000.0,0.110000,Vacant Land,NaN
46,200215,2020,06/04/2021,East Haddam,SHANAGHAN RD,51690.0,65000.0,0.795200,Vacant Land,NaN
47,200242,2020,01/27/2021,East Haven,130 COE AVE #51,28240.0,73000.0,0.386849,Residential,Condo
48,10095,2001,11/16/2001,Farmington,5 SPARROW LN,67670.0,302866.0,0.223432,NaN,NaN
49,200375,2020,04/06/2021,East Haven,55 THOMPSON ST #5A,76960.0,140000.0,0.549700,Residential,Condo
50,11238,2001,08/30/2002,Bethel,50 FOURTH ST,76450.0,50000.0,1.529000,NaN,NaN

In [21]:
df[df['Town']== '***Unknown***']

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
444657,70086,2007,12/18/2007,***Unknown***,18 MATHIEU LANE,66540.0,282450.0,0.235582,Single Family,Single Family

In [22]:
df.drop(index=444657, axis=0, inplace=True)

<h1>DROPPING THE NULL VALUES</h1>

In [23]:
df.dropna(axis = 0, inplace = True)

In [24]:
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
5,200109,2020,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.0,1250000.0,0.678000,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
997207,190272,2019,08/03/2020,Wilton,145 WHIPSTICK RD,681870.0,1134708.0,0.600900,Single Family,Single Family
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family

In [25]:
df.groupby('Residential Type')

In [26]:
df.groupby('Residential Type').count()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type
Residential Type,,,,,,,,,
Condo,117779,117779,117779,117779,117779,117779,117779,117779,117779
Four Family,2418,2418,2418,2418,2418,2418,2418,2418,2418
Single Family,445013,445013,445013,445013,445013,445013,445013,445013,445013
Three Family,14081,14081,14081,14081,14081,14081,14081,14081,14081
Two Family,29608,29608,29608,29608,29608,29608,29608,29608,29608

<h1>2. FIND THE TOTAL SALES BY RESIDENTIAL TYPE</h1>

In [27]:
df.groupby('Residential Type')[['Sale Amount']].sum()

                   Sale Amount
Residential Type
Condo             3.265330e+10
Four Family       7.615052e+08
Single Family     1.783571e+11
Three Family      2.868236e+09
Two Family        6.127529e+09

##  3. Generate a new table that sort your data using column Sale Ratio from the highest to the minimum

In [28]:
df = df.sort_values(['Sales Ratio'], ascending = False)
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
421304,60043,2006,03/19/2007,Salisbury,209 MAIN ST,1226420.0,1.0,1226420.0,Single Family,Single Family
424013,60190,2006,03/02/2007,Newtown,17 WHITEWOOD RD,473780.0,1.0,473780.0,Single Family,Single Family
425795,60213,2006,03/29/2007,Newtown,206 BERKSHIRE RD,305910.0,1.0,305910.0,Single Family,Single Family
893093,180020,2018,10/29/2018,Beacon Falls,146 MUNSON ROAD,241910.0,1.0,241910.0,Single Family,Single Family
422591,60442,2006,09/14/2007,Guilford,1394 LITTLE MDW RD,198960.0,1.0,198960.0,Single Family,Single Family
...,...,...,...,...,...,...,...,...,...,...
839990,170051,2017,03/22/2018,Beacon Falls,76 FIELDSTONE LANE,0.0,540681.0,0.0,Single Family,Single Family
476684,71068,2007,09/30/2008,West Hartford,30 SCHOOLHOUSE DR #101,0.0,350000.0,0.0,Condo,Condo
397780,60241,2006,09/05/2007,New Fairfield,1 AUSTIN DRIVE,0.0,52000.0,0.0,Single Family,Single Family
503965,8638,2008,08/17/2009,Meriden,108 COLONY BROOK,0.0,103790.0,0.0,Single Family,Single Family
514920,90048,2009,04/28/2010,Beacon Falls,8 DOGWOOD LANE,0.0,350330.0,0.0,Condo,Condo

In [29]:
df.dropna(axis = 0, inplace = True)

In [30]:
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
421304,60043,2006,03/19/2007,Salisbury,209 MAIN ST,1226420.0,1.0,1226420.0,Single Family,Single Family
424013,60190,2006,03/02/2007,Newtown,17 WHITEWOOD RD,473780.0,1.0,473780.0,Single Family,Single Family
425795,60213,2006,03/29/2007,Newtown,206 BERKSHIRE RD,305910.0,1.0,305910.0,Single Family,Single Family
893093,180020,2018,10/29/2018,Beacon Falls,146 MUNSON ROAD,241910.0,1.0,241910.0,Single Family,Single Family
422591,60442,2006,09/14/2007,Guilford,1394 LITTLE MDW RD,198960.0,1.0,198960.0,Single Family,Single Family
...,...,...,...,...,...,...,...,...,...,...
839990,170051,2017,03/22/2018,Beacon Falls,76 FIELDSTONE LANE,0.0,540681.0,0.0,Single Family,Single Family
476684,71068,2007,09/30/2008,West Hartford,30 SCHOOLHOUSE DR #101,0.0,350000.0,0.0,Condo,Condo
397780,60241,2006,09/05/2007,New Fairfield,1 AUSTIN DRIVE,0.0,52000.0,0.0,Single Family,Single Family
503965,8638,2008,08/17/2009,Meriden,108 COLONY BROOK,0.0,103790.0,0.0,Single Family,Single Family
514920,90048,2009,04/28/2010,Beacon Falls,8 DOGWOOD LANE,0.0,350330.0,0.0,Condo,Condo

## 4. Find the first 10 sales with the highest amount in a DataFrame

In [31]:
sales = df.sort_values(['Sale Amount'], ascending = False).head(10)
sales

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
60894,20200078,2020,07/06/2021,Willington,224 RIVER ROAD,223070.0,318790019.0,0.000700,Residential,Single Family
65620,20200102,2020,09/28/2021,Willington,7 TOLLAND TURNPIKE ROAD,112040.0,194149073.0,0.000577,Residential,Three Family
957543,191094,2019,08/12/2020,Norwalk,33 ORCHARD ST,507580.0,157000000.0,0.003200,Four Family,Four Family
655816,130446,2013,04/11/2014,Greenwich,499 INDIAN FIELD ROAD,15025570.0,120000000.0,0.125213,Single Family,Single Family
33575,2000806,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #101,134130.0,72000000.0,0.001800,Residential,Condo
30399,2000810,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #105,111750.0,72000000.0,0.001500,Residential,Condo
47544,2000807,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #102,122160.0,72000000.0,0.001600,Residential,Condo
40034,2000801,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #213,118470.0,72000000.0,0.001600,Residential,Condo
32999,2000819,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #205,115550.0,72000000.0,0.001600,Residential,Condo
28506,2000814,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #202,192410.0,72000000.0,0.002600,Residential,Condo

## Return the min, max and the total sales of Estate

In [32]:
s_total = df['Sale Amount'].sum()
s_total

220767693520.26

In [33]:
mi_total = df['Sale Amount'].min()
mi_total

0.0

In [34]:
mx_total = df['Sale Amount'].max()
mx_total

318790019.0

## can you draw a conclusion for your new employer,  the effect of time on the company sales?

In [35]:
correlation = df.corr(method='spearman')
correlation

C:\Users\timia\AppData\Local\Temp\ipykernel_19008\3563869834.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation = df.corr(method='spearman')

,Serial Number,List Year,Assessed Value,Sale Amount,Sales Ratio
Serial Number,1.000000,0.617797,-0.015265,0.022382,-0.083280
List Year,0.617797,1.000000,-0.029814,0.043957,-0.163835
Assessed Value,-0.015265,-0.029814,1.000000,0.822214,0.093335
Sale Amount,0.022382,0.043957,0.822214,1.000000,-0.382794
Sales Ratio,-0.083280,-0.163835,0.093335,-0.382794,1.000000

<strong>looking at the table above, we have the cross relationship betweeen the List Year and The Sales Ratio to be Negative, which means that the time has no effect on the company sales</strong>

<h1>7. Kindly advise the company which town should they stop selling Estate</h1>

In [36]:
df.groupby('Town')['Sales Ratio'].sum().sort_values(ascending=True)

Town
Union           1.015329e+02
Eastford        2.052644e+02
Warren          2.349656e+02
Franklin        2.387194e+02
Bozrah          2.619247e+02
                    ...
Mansfield       1.643493e+05
Guilford        2.032997e+05
Beacon Falls    3.860138e+05
Newtown         7.839283e+05
Salisbury       1.227461e+06
Name: Sales Ratio, Length: 169, dtype: float64

<strong>My conclusion is that the Real Estate company should stop selling their Estate to the 'UNION' Town,
Because,  It has the Lowest Sales</strong>

<h1>8. Base on your findings, advise the company which town should we continue selling our Real Estate</h1>

In [37]:
df.groupby('Town')['Sales Ratio'].sum().sort_values(ascending=False)

Town
Salisbury       1.227461e+06
Newtown         7.839283e+05
Beacon Falls    3.860138e+05
Guilford        2.032997e+05
Mansfield       1.643493e+05
                    ...
Bozrah          2.619247e+02
Franklin        2.387194e+02
Warren          2.349656e+02
Eastford        2.052644e+02
Union           1.015329e+02
Name: Sales Ratio, Length: 169, dtype: float64

<strong> My advise to the Real Estate Company is that, 
    The company should continue selling their  Estates in 'Salisbury' Town, Due to the High rate of Sales which is
    present in the table below</strong>

<h1>9. We have different properties in our company, which property will you advise us to stop selling
and which will you advise us to sell more of it</h1>

In [38]:
df.groupby('Property Type')['Sales Ratio'].sum().sort_values(ascending=True)

Property Type
Four Family      3.056720e+03
Three Family     1.817615e+04
Two Family       3.203342e+04
Residential      4.272107e+04
Condo            9.062680e+04
Single Family    3.259113e+06
Name: Sales Ratio, dtype: float64

<strong> Based on the Table above, we can see that the Property Type, " Four Family" has a lower sales ratio and brought the least profit to the company. Hereby my advise is that the company should stop selling " FOUR FAMILY PROPERTY TYPE".</strong>

In [39]:
df.groupby('Property Type')['Sales Ratio'].sum().sort_values(ascending=False)

Property Type
Single Family    3.259113e+06
Condo            9.062680e+04
Residential      4.272107e+04
Two Family       3.203342e+04
Three Family     1.817615e+04
Four Family      3.056720e+03
Name: Sales Ratio, dtype: float64

<strong>Based on the Table above, we can see that the Property Type, " Single Family" has a Higher sales ratio and brought the Highest profit to the company. Hereby my advise is that the company should Continue selling " Single family type".</strong>